/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

h1 {
  font-family: pacifico, cursive;
  color: plum;
}

p {
  color: purple;
  font: pacifico;
}

h4,
h2,
h3 {
  font-family: Oswald;
  color: purple;
}

body::after {
  content: '';
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url('bg.jpg');
  background-size: cover;
  background-repeat: repeat;
}

nav {
  position: fixed;
  align-items: center;
  background-color: purple;
  opacity: 0.5;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  width: 100%;
}

a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candyImage {
  width: 25%;
}

.content {
  text-align: center;
  margin: 80px auto;
  padding: 10px;
}

button {
  width: 100px;
  margin: 5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: purple;
}

button:hover {
  border: 2px solid plum;
}
